alertmanager:
  enabled: false
configmapReload:
  prometheus:
    enabled: false
  alertmanager:
    enabled: false
server:
  persistentVolume:
    size: 1Gi
  securityContext:
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
prometheus-pushgateway:
  enabled: false
extraScrapeConfigs: |
  - job_name: app
    scrape_interval: 10s
    static_configs:
      - targets:
          - app.app.svc.cluster.local:8888
prometheus-node-exporter:
  podLabels:
    allowHostPath: "true"
    allowAllVolumeTypes: "true"
  hostNetwork: false
  hostPID: false
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
kube-state-metrics:
  securityContext:
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
